/*
* @Author: 武锦
* @Date:   2018-08-09 10:26:37
* @Last Modified by:   武锦
* @Last Modified time: 2018-08-15 11:30:32
*/



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header{
	width: 7.5rem;
    height: 3.8rem;
    background: #ff6600;
    padding: 0 0.24rem;
    top: 0;
    left: 0;
    overflow: hidden;
}
header .top{
	width: 100%;
	height: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.2rem;
}
header .return{
   width: 7rem;
}
header .return img{
	width: 0.34rem;
	display: block;
	height: 0.5rem;

}
header .collection{
	width: 1.5rem;
}
header .collection img{
	width: 0.56rem;
	display: block;
	height: 0.6rem;
}
header .share{
	width: 0.76rem;
}
header .share img{
	width: 0.56rem;
	display: block;
	height: 0.6rem;
}
header .dermo-rion {
	width: 100%;
	height: 2.54rem;
}
header .dermo-rion .picture{
    width:2.38rem ;
    height: 2.54rem;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
header .dermo-rion .picture img{
	width: 2.05rem;
	height: 2.05rem;
}
header .dermo-rion .text{
	width: 4.64rem;
	float: left;
}
header .dermo-rion .text h5{
	font-size:0.32rem ;
	color: white;
}
header .dermo-rion .text .trudotion{
	font-size: 0.24rem;
	color: white;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 0.6rem;
	margin-top: 0.08rem;
}
header .dermo-rion .text .gorder{
	height:0.4rem;
    width: 2.8rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
}
header .dermo-rion .text .gorder img{
	width: 2rem;
	height: 0.3rem;
}
header .dermo-rion .text .gorder .num{
    width: 0.6rem;
    height: 0.28rem;
    border-radius: 0.3rem;
    background: white;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .dermo-rion .text .gorder .numb{
	font-size: 0.18rem;
	color: #ff6600;
}
header .dermo-rion .text .des{
	margin-top: 0.1rem;
	display: flex;
    flex-direction: row;
}
header .dermo-rion .text .describe{
	width: 0.86rem;
	height: 0.4rem;
    border-radius: 0.3rem;
    border: 0.03rem solid #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
header .dermo-rion .text .describe p{
	font-size: 0.18rem;
	color: #ffcc00;
}
header .dermo-rion .text span{
	font-size: 0.18rem;
	color: #ffcc00;
	display: block;
	float: left;
	margin-left: 0.14rem;
}
header .dermo-rion .text .da{
	width: 100%;
	height: 0.2rem;
	margin-top: 0.16rem;
}
header .dermo-rion .text .da .score{
	width: 0.86rem;
	height: 0.4rem;
    border-radius: 0.3rem;
    border: 0.03rem solid #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
header .dermo-rion .text .da .score p{
	font-size: 0.18rem;
	color: #ffcc00;
}
header .dermo-rion .da .score span{
	font-size: 0.18rem;
	color: #ffcc00;
	display: block;
	float: left;
	margin-left: 0.14rem;
}
main{
	width: 100%;
	height: 8rem;
    /* background-color: pink; */
}
main .list{
    width: 2.5rem;
    height: 5.0rem;
    float: left;
    /* background-color: red ; */
    overflow: scroll;
}
main .list ul{
	width:2.5rem;
	display: flex;
	flex-direction: column;
}
main .list ul li{
	width: 2.5rem;
	height: 1rem;
	background-color:#ededed;
	font-size: 0.3rem;
	text-align: center;
	line-height: 1rem;
	color: #3b3b3b;
}
main .list ul li:nth-child(4){
	background-color: white;
	color: #f36c6c;
}
main .content{
	width:5rem;
	height: 8.4rem;
	float: left;
	/* background-color: blue; */
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
}
main .content ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
main .content ul li{
	height: 2rem;
	/* background-color: #323; */
	margin-top: 0.18rem;
	display: flex;
	flex-direction: row;
	box-shadow: -0.06rem 0.04rem 0.18rem rgba(255, 102, 0, 0.5);
}
main .content ul li .picture{
	width: 1.3rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .content ul li .picture img{
	width: 1.3rem;
	height: 1.48rem;
}
main .content ul li .trudotion{
	width: 3.12rem;
	height: 100%;
	margin-left: 0.1rem;
}
main .content ul li .trudotion .content1{
	width: 100%;
	height: 1.5rem;
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
    display: flex;
    flex-direction: column;
}
main .content ul li .trudotion .content1 .title{
	font-size: 0.28rem;
	color: #343434;
}
main .content ul li .trudotion .content1 .point{
	color: #d7d6d6;
	display: flex;
	flex-direction: row;
}
main .content ul li .trudotion .content1 .point .big{
    color: #444444;
	font-size: 0.04rem;
	text-align: center;
	line-height: 0.04rem;
}
main .content ul li .trudotion .content1 .point p{
	color:#c7c7c7;
	font-size: 0.04rem;
	text-align: center;
	line-height: 0.04rem;
}
main .content ul li .trudotion .content1 .describe{
    font-size: 0.04rem;
    color: #4c4c4c;
    margin-top: 0.12rem;
}
main .content ul li .trudotion .content1 .sell{
	font-size: 0.18rem;
	color:#5c5c5c;
}
main .content ul li .trudotion .content1 .money{
	display: flex;
	flex-direction: row;
}
main .content ul li .trudotion .content1 .money .sco{
	font-size: 0.18rem;
	color:#5c5c5c;
}
main .content ul li .trudotion .content1 .money .piece{
	font-size: 0.3rem;
	color:#fe8686;
	margin-left: 0.6rem;
}
main .content ul li .order{
	width:0.4rem ;
	height: 0.4rem;
	float: right;
	margin-top: 1.08rem;
}
main .content ul li .order img{
	width: 0.4rem;
	height: 0.4rem;
}
footer .box{
	width: 100%;
	height: 1rem;
	padding: 0 0.24rem;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	position: relative;
    box-shadow: -0.1rem -0.04rem 0.1rem rgba(255, 102, 0, 0.5);
}
footer .box .gray{
	width: 4.56rem;
	height: 100%;
	font-size: 0.18rem;
}
footer .box .gray .mon{
	font-size: 0.26rem;
	position: absolute;
	top: 0.02rem;
	left: 1.6rem;
	color: red;
	display: none;
}
footer .box .gray .bus{
	line-height: 0.5rem;
	text-align: center;
	/*position: absolute;*/
}
footer .box .gray .dis{
	text-align: center;
}
footer .box .take-off{
	width: 2.44rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	font-size: 0.28rem;
	background: #424242;
	color: white;
}
footer .box img{
	width: 0.8rem;
	height: 0.8rem;
	display: block;
	position: absolute;
	left: 0.2rem;
	bottom: -0.1rem;
}
footer .cart1{
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	left: 0.2rem;
	bottom: 0.8rem;

}
footer .cart{
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	left: 0.2rem;
	bottom: 0.8rem;
	z-index: 999;
}
footer .box .cart img{
   width: 0.8rem;
   height: 0.8rem;
}
.box1{
	width: 5rem;
	height: 5.38rem;
	position: absolute;
	top: 3.9rem;
	left: 1.24rem;
	border-radius: 0.1rem;
	background-image: url('../img/p-cake.png');
	background-size: cover;
	box-shadow: 0 0 0 1000px rgba(255,255,255,0.5);
	display: none;
}
.box1 .one{
	font-size: 0.36rem;
	position: absolute;
	top: 3.66rem;
	color: #fff;
	margin-left: 0.1rem;
}
.box1 .two{
	font-size: 0.18rem;
	color: #fff;
	position: absolute;
	top: 4.16rem;
	margin-left: 0.1rem;
}
span.oo{
	float:left;
	font-size: 0.18rem;
	position: absolute;
	top: 4.5rem;
	left: 0.42rem;
	color: #fff;
}
.pic{
	float: left;
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 4.5rem;
	margin-left: 0.1rem;
}
.pic img{
	width: 0.3rem;
	height: 0.3rem;
	display: block;
}
.pic1{
	float: left;
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 4.5rem;
	left: 0.6rem;
}
.pic1 img{
	width: 0.3rem;
	height: 0.3rem;
	display: block;
}
.box1 .three{
	font-size: 0.24rem;
	color: #fff;
	position: absolute;
	top: 4.8rem;
	margin-left: 0.1rem;
}
.box1 .box-one{
	background-color: #fff;
	font-size: 0.24rem;
	width: 1.6rem;
	height: 0.4rem;
	border-radius: 0.3rem;
	text-align: center;
	color: #ff6600;
	line-height: 0.4rem;
	position: absolute;
	top: 4.4rem;
	left: 3rem;

}