/*
* @Author: 武锦
* @Date:   2018-08-15 11:32:46
* @Last Modified by:   武锦
* @Last Modified time: 2018-08-17 02:03:25
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}
body,html{
    width: 100%;
    height: 100%;
}
header{
	width: 7.5rem;
    height: 1rem;
    background: #ff6600;
    padding: 0 0.24rem;
    top: 0;
    left: 0;
    overflow: hidden;
}
header .top{
	width: 100%;
	height: 0.5rem;
	display: flex;
	flex-direction: row;
	margin-top: 0.2rem;
}
header .text{
	padding-left: 1.8rem;
	line-height: 0.36rem;
}
header .text .title{
	font-size: 0.36rem;
	color: white;
	text-align: center;
}
header .text .eng{
	font-size: 0.24rem;
	color: #ffa200;
}
header .return{
   width: 1rem;
}
header .return img{
	width: 0.34rem;
	display: block;
	height: 0.5rem;

}
main .container{
	padding: 0 0.7rem;
	margin-top: 0.1rem;
}
main .container .rectangle{
	width: 100%;
	height: 1.12rem;
	padding-top: 0.1rem;
	background-color: #ff6600;
	border-radius: 0.1rem;
	display: flex;
	flex-direction: row;
}
.rectangle .buildcard{
	width: 0.7rem;
	height: 0.7rem;
	padding-top: 0.1rem;
	padding-left: 0.1rem;
}
.buildcard img{
	width: 0.7rem;
	height: 0.7rem;
	display: block;
}
.rectangle .big{
	padding-left: 0.3rem;
	padding-top: 0.1rem;
}
.big .text{
	font-size: 0.26rem;
	color: #fff;
}
.big .num{
	font-size: 0.26rem;
	color: #fff;
}
.container p{
	font-size: 0.44rem;
	color: #ff6600;
	text-align: center;
	padding-top: 0.2rem;
}
.container p span{
	font-size: 0.86rem;
}
.container .word{
	font-size: 0.24rem;
	color: #ff6600;
	text-align: center;
	padding-top: 0;
}
.container .point{
	padding-top: 0.3rem;
}
.container h1{
	font-size: 0.26rem;
	padding-top: 0.2rem;
	text-align: center;
	color: #d4d4d4;
	margin: 0;
}
.container h2{
	font-size: 0.24rem;
	margin: 0;
	text-align: center;
	color: #3a414a;
}
.container .unclick{
	width: 4.72rem;
	height: 6.6rem;
	padding-left: 0.7rem;
	padding-top: 0.9rem;
}
.unclick img{
	width: 4.72rem;
	height: 4.72rem;
	display: block;
}
footer{
	padding: 0 0.66rem;
}
footer .box{
	width: 100%;
	height: 0.74rem;
	border-radius: 0.3rem;
	background: #ff6600;
	display: flex;
	flex-direction: row;
}
.box .warning{
	width: 0.34rem;
	height: 0.34rem;
	margin-left: 0.6rem;
	padding-top: 0.2rem;
}
.warning img{
	display: block;
	width: 0.34rem;
	height: 0.34rem;
}
.box span a{
	font-size: 0.24rem;
	color: #fff;
	padding-top: 0.2rem;
    margin-left: 2.7rem;
    display: block;
}