/*
* @Author: 武锦
* @Date:   2018-08-16 22:37:24
* @Last Modified by:   武锦
* @Last Modified time: 2018-08-16 23:51:16
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}
header{
	width: 7.5rem;
    height: 1rem;
    background: #ff6600;
    padding: 0 0.24rem;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
header .top{
	width: 100%;
	height: 0.5rem;
	display: flex;
	flex-direction: row;
	margin-top: 0.2rem;
}
header .text{
	padding-left: 1.8rem;
	line-height: 0.36rem;
}
header .text .title{
	font-size: 0.36rem;
	color: white;
	text-align: center;
}
header .text .eng{
	font-size: 0.24rem;
	color: #ffa200;
}
header .return{
   width: 1rem;
}
header .return img{
	width: 0.34rem;
	display: block;
	height: 0.5rem;

}
main .container{
	padding: 0 0.24rem;
	overflow: hidden;
}
main .box{
	margin-top: 0.1rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 2.52rem;
	padding: 0.24rem;
	border-radius: 0.1rem;
	box-shadow: 0.04rem 0.04rem 0.48rem rgba(255, 180, 0, 0.5);
	margin-top: 1.2rem;
}
.box .cake{
	width: 1.52rem;
	height: 1.96rem;
	border-radius: 0.1rem;
}
.cake img{
	display: block;
	width: 1.52rem;
	height: 1.96rem;
	border-radius: 0.1rem;
}
.box .artcile{
	margin-top: 0.46rem;
}
.artcile h6{
	font-size: 0.4rem;
	color: #ff6600;
	font-weight: bold;
	margin-left: 0.52rem;
	float: left;
}
.artcile .eng{
	font-size: 0.2rem;
	color: #ff6600;
	font-weight: bold;
	float: left;
	margin-top: 0.16rem;
}
.busness{
	font-size: 0.2rem;
	color: #ff6600;
	margin-left: -1.72rem;
	margin-top: 1.2rem;

}
.container .sux{
	font-size: 0.36rem;
	color: #ff6600;
	text-align: center;
	margin-top: 0.5rem;
}
.container .eng{
	font-size: 0.24rem;
	color: #ff9d79;
	text-align: center;
}
.container .return{
	width: 1.5rem;
	height: 0.44rem;
	color: #fff;
	font-size: 0.2rem;
	background-color: #ff6600;
	border-radius: 0.3rem;
	margin-top: 0.42rem;
	margin-left: 1.6rem;
	float: left;
	line-height: 0.44rem;
	text-align: center;
}
.container .contiue{
	width: 1.5rem;
	height: 0.44rem;
	color: #fff;
	font-size: 0.2rem;
	background-color: #ff6600;
	border-radius: 0.3rem;
	margin-top: 0.42rem;
	margin-left: 0.8rem;
	float: left;
	line-height: 0.44rem;
	text-align: center;
}
/* .container .share{
	font-size: 0.4rem;
	margin-top: 1.2rem;
} */
.parttwo .recommended{
	font-size: 0.3rem;
	color: #333;
	padding-top: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
}
.busniess li{
	width: 3.38rem;
	height: 3.8rem;
	float: left;
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
	box-shadow: 0rem 0.02rem 0.16rem rgba(255, 102, 0, 0.5);
/* 	background: #555; */
}
.busniess li:nth-child(2n){
	margin-right: 0;
}
.busniess li .picture1{
	width: 100%;
	height: 2rem;
}
.busniess li .picture1{
	width: 100%;
	height: 1.8rem;
}
.busniess li img{
	width: 100%;
	height: 100%;
	display: block;
}
li .three{
	text-align: center;
	font-size: 0.26rem;
	color: #292929;
	padding-top: 0.2rem;
}
li .month{
	font-size: 0.18rem;
	text-align: center;
	color: #424242;
	padding-top: 0.08rem;
}
li .mney{
	font-size: 0.3rem;
	text-align: center;
	color: #ff6f6f;
	padding-top: 0.12rem;
}