/*
* @Author: 武锦
* @Date:   2018-08-15 16:14:31
* @Last Modified by:   武锦
* @Last Modified time: 2018-08-16 19:24:25
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}
body{
	background-image: url('../img/signin.png');
	background-size: cover;
	background-repeat: no-repeat;
}
header .orangebox{
	width: 1.3rem;
	height: 0.58rem;
	margin-left: 6rem;
	margin-top: 0.3rem;
	background-color: #ff6600;
	color: #Fff;
	border-radius: 0.3rem;
	font-size: 0.3rem;
    text-align: center;
    line-height: 0.58rem;
}
header .picture{
	width: 1.9rem;
	height: 1.9rem;
	padding-top: 2rem;
	margin-left: 2.7rem;
}
.picture img{
	display: block;
	width: 1.9rem;
	height: 1.9rem;

}
header .white-bg{
	width: 5.5rem;
	height: 3.3rem;
	background-color: white;
	border-radius: 0.1rem;
	margin-left: 1rem;
	margin-top: 2.9rem;
}
header .uersname{
	font-size: 0.24rem;
	color: #ff6600;
	padding-top: 0.2rem;
	margin-left: 0.54rem;
}
.ko i{
	position: absolute;
	top: 6.6rem;
	left: 1.5rem;
	color: #ff944c;
}
.white-bg input{
   	position: absolute;
	top: 6.6rem;
	left: 2rem;
	border: none;
	border-bottom: 0.04rem solid #ff6600;
	width: 2.5rem;
}
.white-bg img{
   margin-left: 0.24rem;
}
.white-bg .password{
	font-size: 0.24rem;
	color: #ff6600;
	margin-left: 0.54rem;
}
.white-bg .text{
   	position: absolute;
	top: 8.2rem;
	left: 2rem;
	border: none;
	border-bottom: 0.04rem solid #ff6600;
}
.koo i{
	position: absolute;
	top: 8.2rem;
	left: 1.5rem;
	color: #ff944c;
}
main p{
	font-size: 0.22rem;
	color: #ff6600;
	padding-top: 0.2rem;
	margin-left: 1.04rem;
}
main .bottom{
	width: 2.76rem;
	height: 0.54rem;
	color: #fff;
	background-color: #ff6600;
	border-radius: 0.3rem;
	margin: 0 auto;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.54rem;
	margin-top: 0.2rem;
}
footer{
	width: 100%;
	height: 2.6rem;
}
footer .pic{
	width: 5.3rem;
	height: 2rem;
	margin-left: 1.1rem;
	margin-top: 0.5rem;
}
footer img{
	width: 5.3rem;
	height: 2rem;
}